*{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
header{
    display:flex;
    width:100%;
    /* flex-wrap: wrap; */
    justify-content: center;
    background-color:  #6495ed;
   }
.logo{
     margin-top: 30px;
}
.links{
     margin-top: 30px;  
}
.icon-logo{
    margin-top: 30px;
}

.links a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon-logo img{
    vertical-align: middle;
    padding-left:20px;
}
.cover{
    display:flex;
    width:100%; 
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(homebg.png);
    background-size: 100% 100%;
    height:100%;
}
.cover-content{
    width:40%;
    font-size: x-large;
    padding:150px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.cover-image{
    /* padding: 150px;   */
    align-self: center; 
    padding-right: 170px;
}
.cover-content a{
    /* padding-top: 10px; */
    font-size: small;
    color:white;
    text-decoration: none;
    padding:20px;
}
.cover-content h1{
    padding:20px;
    padding-left: 0;
}
#download-link{
    background-color:orangered;
    text-align: center;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 5px;

}
#feature-link{
    background-color:midnightblue;
    text-align: center;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 5px;

}
section{
    /* /* width:100%; */
   display: flex;
   padding:100px;
   background-image:url(bodybg.png);
   background-size: 100% 100%;
   /* height:100%; */
   /* width:80%; */
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}
.heading{
    width:100%;
    text-align: center;
    color:royalblue;
    /* padding-top: 8%; */
}
.paragraph{
    width:100%;
    text-align: center;
    color:gray;
    padding-top: 0%;
}
.features p{
    text-align: left;
}
.features{
    display: flex;
    width:29%;
    padding-top: 100px;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}
.feature-content{
    width:70%;
}
.feature-image{
    width:25%;  
}
.feature-image img{
    width:50px;
}
/* .screenshot{
    display:flex;
    justify-content: space-evenly;
    padding:100px;
    background-image:url(bodybg.png);
    background-size: 100% 100%;
} */
.screenshot-image{
    width:30%;
    padding-left: 70px;
    padding-top: 100px;
}
.screenshot-content{
    width:35%;
    padding-top:100px;
}
#screen-3{
    width:35%;
    padding-top:100px;
    padding-left:50px;
}
#screen-4{
    width:30%;
    padding-right: 100px;
    padding-top: 100px;
}
/* .section h1{
  padding-top:50px;  
} */
.screenshot-content p{
    text-align:left;
}

.review{
    padding-top:30px;
    width:40%;
}
.review p{
    text-align:left;
}
.bottom{
    display: flex;
    width:100%;
    height:50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(downloadbg.png);
    background-size: cover;
}
.bottom-content h1{
    color:white;
    text-align: left;
    
}
.bottom-content p{
    padding-top:20px;
    padding-bottom: 20px;
}
.bottom-content{
    color: white;
    width:30%;
    padding-left: 40px;
}

.bottom-image{
    align-self: flex-end;
    width:30%
    /* width:20%; */
}
footer{
    display:flex;
    width:100%;
    /* height:40%; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #383A53;
    height: 20%;
    /* margin: 20px; */

    /* color: */
}
footer p{
    text-align: center;
    color: gray;
    width:100%;
    font-size: small;
}

footer hr{
    width:80%;
    height:0.001px;
}



